@model ML.Empleado
@{
    ViewBag.Title = "Form";
}

@*<br />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/Empleado/Empleados.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="panel-title">Empleado:</h2>
            <hr />
        </div>
    </div>
    <form>
       
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @*label Id= lblNombre / TextBox Id= txtNombre  / DropDownList Id= ddlCategorias*@
                    @*<input type="text" class="form-control" id="txtNombre" placeholder="Nombre" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="ApellidoPaterno" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtApellidoMaterno" placeholder="ApellidoMaterno" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtNumeroNomina" placeholder="NumeroNomina" />
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select id="ddlEstados" class="form-control"></select>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-1">
            <button id="boton" type="submit" class="btn btn-success" title="Agregar" onclick="Add()">
                Agregar
            </button>
        </div>
        <div class="col-md-1">
            <button id="boton" class="btn btn-danger" title="Cancelar">
                Cancelar
            </button>
        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Detalle</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h5>
                                Acción completada con éxito
                            </h5>
                        </div>
                        <div class="modal-footer">
                            @Html.ActionLink("Regresar", "GetAll", "Empleado", htmlAttributes: new { @class = "btn btn-primary  btn-lg" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>*@

